.elements__like {
  background-image: url(../../../images/like.png);
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  cursor: pointer;
  transition: opacity .3s linear;
}
.elements__like:hover {
  opacity: .5;
}
